
body {
    font-family: 'Poppins', sans-serif;
}

.menu{
    position: fixed; /* Fixa no topo */
    top: 0; /* Distância do topo */
    left: 0;
    width: 100%; /* Ocupa a largura total */
    background-color: #33333367;
    color: white;
    padding: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000; /* Garante que fique acima de outros elementos */
    display: flex;
    justify-content: space-between;

    

}

.btn_menu{
    align-self: center;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: larger;
}

.btn_menu:hover {
    color: rgb(48, 86, 255); /* Cor do texto ao passar o mouse */
    cursor: pointer; /* Mostra o ponteiro de mão, indicando que é clicável */

}

.btn_menu:active {
    transform: scale(0.98); /* Leve afundada ao clicar */
}

.btn_login{
    border: solid 1px navy;
    border-radius: 10px;
    color:aliceblue;
    background-color: navy;
    width: 100px;
    padding: 15px;
    font-size: larger;
    margin-right: 30px;
}

.btn_login:hover {
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
}

.btn_login:active {
    background-color: navy; /* Ainda mais escuro ao clicar */
    transform: scale(0.97); /* Leve afundada ao clicar */
}

.conteudo-1{
    display: flex;
    flex-direction: column; /* Coloca um em cima do outro */
    justify-content: center; /* Centraliza verticalmente */
    align-items: flex-end;   /* Alinha à direita */
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)),url('home.png'); /* imagem escurecida */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 60px; /* Dá um espacinho da borda direita */
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste o nível de escurecimento aqui */

    
}
.texto_conteudo1{
    color: aliceblue;

}

.btn_entrar_contato{
    border: solid 1px navy;
    border-radius: 24px;
    color:aliceblue;
    background-color: navy;
    width: 210px;
    padding: 10px;
    font-size: larger;

}

.btn_entrar_contato:hover{
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
}

.btn_entrar_contato:active{
    background-color: navy; /* Ainda mais escuro ao clicar */
    transform: scale(0.97); /* Leve afundada ao clicar */
}



.conteudo-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
}
.texto-conteudo2 {
    flex: 1;
    text-align: left;
}
.conteudo-2 img {
    max-width: 500px;
    height: auto;
    flex: 1;
}
.conteudo-2 h1{
    color: navy;
}

.conteudo-3 {
    background-color: #001845;
    padding: 60px 40px;
    color: white;
    text-align: center;
}

.conteudo-3 h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    color: #001845;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.imagem-card {
    width: 100%;
    height: 180px;
    position: relative;
}

.imagem-card img {
    width: 100%;
    height: 100%;
}

.card h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 20px 10px;
}

.card p {
    margin: 0 20px 20px;
    font-size: 0.95rem;
}