body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    opacity: 0;
    overflow-x: hidden;
    animation: fadeIn 1s ease forwards;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}


.menu {
    position: fixed;
    /* Fixa no topo */
    top: 0;
    /* Distância do topo */
    left: 3vh;
    width: 95%;
    height: 50px;
    /* Ocupa a largura total */
    color: white;
    padding: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
}

.menu.scrolled {
    background-color: rgba(0, 0, 50, 0.9);
    /* Azul escuro com transparência */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.438);
    /* Sombra opcional */
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    margin-top: 1vh;
    border-radius: 50px;

}

.btn_menu {
    align-self: center;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: medium;
}

.btn_menu {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

.menu img {
    width: 16%;
    height: 90px;
    margin-top: -3vh;
}

/* Linha que aparece ao passar o mouse */
.btn_menu ::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #e9e9e9;
    /* Cor da linha */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

/* Expansão da linha no hover */
.btn_menu:hover::after {
    width: 100%;
}

.btn_menu:active {
    transform: scale(0.98);
    /* Leve afundada ao clicar */
}

.btn_login {
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: navy;
    width: 110px;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: large;
    margin-right: 30px;
    display: flex;

}

.btn_login a {
    text-decoration: none;
    color: white;
}

.btn_login:hover {
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
}

.btn_login:active {
    background-color: navy;
    /* Ainda mais escuro ao clicar */
    transform: scale(0.97);
    /* Leve afundada ao clicar */
}

.conteudo-1 {
    display: flex;
    flex-direction: column;
    /* Coloca um em cima do outro */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: flex-end;
    /* Alinha à direita */
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)), url('home.png');
    /* imagem escurecida */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 60px;
    /* Dá um espacinho da borda direita */
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajuste o nível de escurecimento aqui */
    padding-top: 80px;
    margin-top: -6vh;

}

.texto_conteudo1 {
    color: aliceblue;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.conteudo-1 p {
    font-size: 35px;
}


.btn_entrar_contato {
    border: none;
    border-radius: 24px;
    color: aliceblue;
    background-color: navy;
    width: 210px;
    padding: 10px;
    font-size: medium;
    transition: transform 0.9s;
}

.btn_entrar_contato:hover {
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
    transform: scale(1.2);
}

.btn_entrar_contato:active {
    background-color: navy;
    /* Ainda mais escuro ao clicar */

    /* Leve afundada ao clicar */
}



.conteudo-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;

}

.texto-conteudo2 {
    text-align: left;
}

.conteudo-2 img {
    max-width: 500px;
    height: 100%;
    margin-bottom: -8vh;
    box-shadow: -1px 2px 100px -12px rgba(0, 0, 0, 0.492);


}

.bluesquare {
    height: 200px;
    width: 350px;
    margin-top: -15vh;
    margin-left: 40%;
    background-color: navy;
}

.conteudo-2 h1 {
    color: navy;
    font-size: 35px;
}

/* cards de beneficios */

.conteudo-3 {
    background-color: #001845;
    padding: 60px 40px;
    color: white;
    text-align: center;
}

.conteudo-3 h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
    background-color: #001845;
    /* Fundo azul escuro */
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    max-width: 290px;
    height: 400px;
    box-shadow: -1px 2px 100px -12px rgba(255, 255, 255, 0.484);

    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;

}

.card:hover {
    transform: translateY(-10px);
}

/* Estilo da imagem com corte diagonal inferior */
.imagem-card {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.imagem-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card h2 {
    margin-bottom: -3vh;
    font-size: 20px;
    font-weight: bold;
    color: #001845;
    text-align: start;
    margin-left: 2vh;
    box-shadow: -1px 2px 100px -12px rgba(255, 255, 255, 0.268);
}

.card p {
    color: #2a2a2a;
    text-align: start;
    padding: 3vh;
    font-weight: bold;
    line-height: 1.5;
}

/* seção das bolinhas */

.conteudo-4 {
    padding: 40px 40px;
    color: white;
    text-align: justify;
    font-weight: bold;
    background-color: #012870;

}

.conteudo-4 h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.textinho {
    margin-top: -5vh;
    margin-bottom: 15vh;
    text-align: center;
}

.etapas-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.etapa {
    width: 220px;
    text-align: center;

}

.etapa img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    padding: 20px;
    object-fit: contain;
    margin-bottom: 15px;
    box-shadow: -1px 2px 100px -12px rgba(255, 255, 255, 0.484);
    transition: transform 0.9s ease;
}


.etapa p {
    font-size: 0.95rem;
    line-height: 1.4;
}

/* seção do simulador financeiro  */

.simulador {
    display: flex;
    flex-direction: column;
}

.titulocalc p {
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.desc p {
    text-align: center;
}

.calculo {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputs {
    height: 100%;
    width: 40%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
}

.inputs input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #8da4d784;
    border-radius: 20px;
    padding-left: 3vh;
}

.inputs h3 {
    text-align: center;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.especifico {
    height: 100%;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
}

label {
    margin-top: 2vh;
}

.resultado {
    height: 100%;
    width: 40%;
    margin-left: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* espaçamento entre os elementos */

}

.divider {
    width: 2px;
    background-color: #10158a;
    /* mesma cor do seu tema */
    height: 350px;
    /* ajuste conforme a altura do conteúdo */
    margin-top: 18vh
}

.resultado {
    margin-top: 5vh;
}

.resultado h3 {
    text-align: center;
}

.btn-calculo {
    margin-top: 3vh;
    margin-left: 30%;
}

.btn-calculo button {
    border: none;
    height: 35px;
    width: 150px;
    border-radius: 30px;
    background-color: #012870;
    color: white;
    font-weight: 700;
}


/* sobre nós  */

.titulo h1 {
    text-align: center;
    margin-top: 15vh;
}

.titulo p {
    text-align: center;
    margin-bottom: 5vh;
}

.carousel-text-container {
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    margin-top: 10vh;
    margin-left: 19%;
    background-color: #e2e1e188;
    padding: 3vh;
    border-radius: 30px;
}

.carousel-text-track {
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}

.carousel-text-track span {
    display: inline-block;
    margin: 0 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #10158a;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.imgsobrenos {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

/* parte do feedback  */

.feedbacks {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
    font-size: larger;
}


.cardsfeedback {
    flex-direction: row;
    display: flex;
}

.slideshow {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    background: #0f185c;
    background: linear-gradient(0deg, rgb(10, 18, 75) 8%, rgba(255, 255, 255, 1) 100%);
}


.card-feed {
    height: 40%;
    width: 30%;
    background-color: #ffffff;
    box-shadow: -1px 2px 100px -12px rgba(0, 0, 0, 0.184);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* animação suave */
}


.card-feed:hover {
    transform: translateY(-10px);
    /* sobe o card */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    /* sombra mais forte ao passar o mouse */
}

.comentario p {
    text-align: center;
    padding: 3vh;
}

.nomecli {
    text-align: center;
    color: navy;
    font-size: 15px;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* estilização footer */

.footer {
    height: 500px;
    background-color: rgb(10, 18, 75);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo-footer,
.infos-footer,
.form {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.logo-footer img {
    width: 100%;
    align-self: center;
    margin-top: 10vh;
}

.infos-footer h3 {
    margin-bottom: -2vh;
    margin-left: 9vh;
    color: white;
}

.infos-footer h1 {
    font-size: 40px;
    color: white;
    font-weight: 800;

    margin-left: 7vh;
}

.infos-footer p {
    margin-left: 9vh;
    color: white;
}

.infos-footer {
    padding-left: 5%;
}

.form {
    padding-left: 10vh;
    padding-right: 10vh;
    color: white;
    margin-top: -2vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: -10vh;
}

.form input,
textarea {
    width: 70%;
    border-radius: 25px;
    border: none;
    padding: 2vh;
}

.form textarea,
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.enviar {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: none;
    align-self: center;
    margin-right: 15vh;
    font-weight: 700;
    background-color: #3963b0c1;
    color: white;
}

.enviar button {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;

}

.redes {
    display: flex;
    flex-direction: row;
    background-color: rgb(10, 18, 75);
    justify-content: center;
    margin-top: vh;
    width: 100%;
}

.redes img {
    width: 40px;
}